


<%= form_tag({:action => :upload}, :multipart => true) do %>
   <table border = "1">

     <tr><td>上传:</td><td> <%= file_field_tag 'apk_file' %></td></tr>
     <tr>
         <td>版本代号:</td>
         <td> <%= text_field_tag 'vc'%></td>
     </tr>
     <tr>
          <td>主版本号:</td>
          <td><%= text_field_tag 'vn'%></td>
        
     </tr>
     <tr>
          <td>更新信息:</td>
          <td><%= text_area_tag 'updated_items'%></td>
          
     </tr>
     <tr><td></td><td> <%= submit_tag "Upload" %></td><tr>
   </table>
<% end %>
